@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-manrope);
  --font-body: var(--font-poppins);

  --color-brand-dark: #0a0a0a;
  --color-brand-cream: #f5f3ee;
  --color-brand-accent: #f5b614;
  --color-brand-text: #070a06;
  --color-brand-text-secondary: #8a8a8a;
  --color-brand-border: rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-brand-dark);
  color: white;
}

::selection {
  background: var(--color-brand-accent);
  color: black;
}
